<div class="search-alliance">
  <h1>Create Alliance</h1>

  <% if @alliance.errors.any? %>
    <div class="error-messages">
      <ul>
        <% @alliance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @alliance, url: create_alliance_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, "Alliance Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :short, "Alliance Short" %>
      <%= f.text_field :short, class: "form-control" %>
    </div>
    <div class="submit-button">
      <%= f.submit "Create Alliance" %>
    </div>
  <% end %>
</div>
