<div id="send_fleet_queues">
  <%= render partial: 'send_fleet_queues/send_fleet_queue', collection: current_user.send_fleet_queues.active, locals: { path: "" } %>
</div>
<div class="preview-content">
  <div class="image-wrapper">
    <%= image_tag("planet/full_planet_#{@planet.photo_number}", alt: "planet") %>
  </div>
  <div class="data-wrapper">
    <h1>Planet: <%= @planet.name %>!</h1>
    <h3 class="text-center">Planet points:</h3>
    <hr/>
    <%= render "points", title: "Planet", points: @planet_points %>
    <%= render "points", title: "Buildings", points: @buildings_points %>
    <%= render "points", title: "Defence", points: @defence_points %>
    <%= render "points", title: "Fleet", points: @fleet_points %>

    <h3 class="text-center">User points:</h3>
    <hr/>
    <%= render "points", title: "User", points: @user_points %>
    <%= render "points", title: "Technology", points: @technology_points %>
    <%= render "points", title: "Fleet", points: @user_fleet_points %>
    <%= render "points", title: "Defence", points: @user_defence_points %>
    <%= render "points", title: "Buildings", points: @user_buildings_points %>
  </div>
</div>

