<div id="send_fleet_queues">
  <%= render partial: 'send_fleet_queues/send_fleet_queue', collection: current_user.send_fleet_queues.active, locals: { path: "" } %>
</div>
<h1>Welcome, <%= @user.email %>!</h1>
<h1>Welcome, <%= @planet.name %>!</h1>
<p>You have successfully logged in.</p>
<p>fleet_points <%=@fleet_points %></p>
<p>defence_points <%=@defence_points %></p>
<p>buildings_points <%=@buildings_points %></p>
<p>planet_points <%=@planet_points %></p>
<p>user_points <%=@user_points %></p>
