<turbo-frame id="fleet_planet_<%= current_planet.id %>">
  <%= form_with url: send_fleet_path, method: :post, local: true do |form| %>
    <%= render partial: "ships", locals: {disabled: false, ships: @ships} %>

    <div class="content-item align-center">
      <%= render 'fleet/coordinate_planet', disabled: true %>

      <%= render "common/select_options", select_options: @select_options %>

      <div class="submit-button">
        <button
          id="submit-validate-button"
          type="submit"
          data-fleet-target="submit"
          disabled>
          Send Fleet
        </button>
      </div>
    </div>
  <% end %>
  <%= render "back_button" %>
</turbo-frame>