<div class="content-item column">
  <h3 class="text-center">Planets in Galaxy <%= @galaxy %>, Solar System <%= @solar_system %></h3>

  <%= render "galaxy/galaxy_changer" %>
</div>

<div data-controller="fleet">
  <% @planets.each_with_index do |planet, index| %>
      <%= turbo_frame_tag "galaxy_planet_#{index}" do %>
      <div class="content-item align-center justify-between padding-8">
        <%= render "galaxy/planet_name", planet: planet, index: index %>

        <div class="submit-button">
          <%= button_to 'Add Fleet', add_galaxy_fleet_path, method: :post, params: { index: index, planet_id: planet&.id, galaxy: @galaxy, solar_system: @solar_system }, data: { action: "fleet#addFleet", index: index } %>
        </div>
      </div>
      <% end %>
  <% end %>
</div>
