<div class="advanced_bonus_value">
    <span class="title"><%= title %></span>
    <span class="<%= user_value > 0 ? 'text-green' : user_value < 0 ? 'text-red' : '' %>"><%= user_value %></span>
    <span class="title">( Basic <%= title %>:</span>
    <span><%= basic_value %> )</span>
</div>