<div class="equipment-item">
  <% if element[:img].present? && File.exist?(Rails.root.join('app', 'assets', 'images', element[:img])) %>
    <%= image_tag(element[:img], alt: element[:name]) %>
  <% end %>
  <div>
    <h3><%= element[:name] %> (<%=element[:count] %>)</h3>
    <p><%= element[:description] %></p>

    <%= form_with url: build_path, method: :post, local: true do |form| %>
      <%= hidden_field_tag :key, element[:key] %>
      <%= hidden_field_tag :name, element[:name] %>
      <%= number_field_tag :quantity, nil, min: 1, step: 1 %>
      <%= form.submit 'Build' %>
    <% end %>
  </div>
</div>