<div class="sidebar sidebar-hidden" id="sidebar">
  <p class="sidebar-name">QGame</p>
  <p><%= link_to "Preview", preview_path %></p>
  <p><%= link_to "Empire", preview_path %></p>
  <p><%= link_to "Resources", preview_path %></p>
  <p><%= link_to "Buildings", building_path %></p>
  <p><%= link_to "Shipyard", fleet_path %></p>
  <p><%= link_to "Defense", defence_path %></p>
  <p><%= link_to "Technology", preview_path %></p>
  <hr/>
  <p><%= link_to "Fleet", preview_path %></p>
  <p><%= link_to "Galaxy", preview_path %></p>
  <p><%= link_to "Alliance", preview_path %></p>
  <p><%= link_to "Trader", preview_path %></p>
</div>