<div class="sidebar sidebar-hidden" id="sidebar">
  <p class="sidebar-name">QGame</p>
  <%= button_to "Preview", preview_path %>
  <%= button_to "Empire", preview_path %>
  <%= button_to "Resources", preview_path %>
  <%= button_to "Buildings", preview_path %>
  <%= button_to "Shipyard", preview_path %>
  <%= button_to "Defense", preview_path %>
  <%= button_to "Technology", preview_path %>
  <hr/>
  <%= button_to "Fleet", preview_path %>
  <%= button_to "Galaxy", preview_path %>
  <%= button_to "Alliance", preview_path %>
  <%= button_to "Trader", preview_path %>
</div>