<div class="sidebar sidebar-hidden" id="sidebar">
  <p class="sidebar-name">QGame</p>
  <p><%= link_to "Preview", preview_path %></p>
  <p><%= link_to "Empire", empire_path %></p>
  <p><%= link_to "Resources", resources_path %></p>
  <p><%= link_to "Buildings", building_path %></p>
  <p><%= link_to "Shipyard", shipyard_path %></p>
  <p><%= link_to "Defense", defence_path %></p>
  <p><%= link_to "Technology", technology_path %></p>
  <hr/>
  <p><%= link_to "Fleet", fleet_path %></p>
  <p><%= link_to "Galaxy", galaxy_path %></p>
  <p><%= link_to "Alliance", alliance_path %></p>
  <p><%= link_to "Trader", trader_path %></p>
</div>